<!--
<div id="flash-message" style="text-align: center width: 50%;">
    {{#if messages.success}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{#each messages.success}}
        <div>{{this}}</div>
        {{/each}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}

    {{#if messages.error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{#each messages.error}}
        <div>{{this}}</div>
        {{/each}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
</div>-->