<!--- start of big image with name--->
<div class="bg-image container-fluid border text-center">
  <div id="home-row" class="row">
    <div id="flex-col" class="col">
      <blockquote class="blockquote">
        <h1 id="home-title" class="mb-0">Hungry Gator</h1>
        <footer class="blockquote-footer" style="color:white">
          <h4>Hungry? Find delicious and affordable food with Hungry Gator!</h4>
          <h4>Our mission: Safe food delivery to students and staff at SFSU</h4>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
<!--- end of big image with name--->

<div class="container-fluid border text-center">
  <h3 id="category-title">Categories</h3>
  <div class="row justify-content-center">

    <!--- categories --->
    <div class="card-group ">
      <div class="col-sm-6 col-md-3">
        <div class="card h-100">
          <a href="/result" target="_blank">
            <img id="home-image"
              src="https://images.rawpixel.com/image_1300/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3AtMzAwLXRlZDA4NzA0LWV5ZV8yLmpwZw.jpg"
              class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">Italian</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 align-items-stretch">
        <div class="card h-100">
          <a href="/result" target="_blank">
            <img id="home-image"
              src="https://images.rawpixel.com/image_1300/cHJpdmF0ZS9zdGF0aWMvaW1hZ2Uvd2Vic2l0ZS8yMDIyLTA0L2xyL2ZyZ291cm1ldF9zdGVhbWVkX2ppYW96aV84MDY5ODYtaW1hZ2Uta3liYmV2ZjMuanBn.jpg"
              class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">Asian</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 align-items-stretch">
        <div class="card h-100">
          <a href="/result" target="_blank">
            <img id="home-image" src="https://cdn.pixabay.com/photo/2019/05/31/01/52/tacos-4241262_1280.jpg"
              class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">Mexican</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 align-items-stretch">
        <div class="card h-100">
          <a href="/result" target="_blank">
            <img id="home-image" src="https://cdn.pixabay.com/photo/2018/05/30/19/12/burger-3442206_1280.jpg"
              class="card-img-top">
          </a>
          <div class="card-body">
            <h5 class="card-title">American</h5>
          </div>
        </div>
      </div>
    </div>
    <!--- end of categories-->

    <!--- start of Register--->
    <div class="container-fluid border text-center">
      <div class="row d-flex align-items-center">
        <div id="flex-col" class="col">
          <img class="shadow p-3 mb-5 bg-white rounded"
            src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY=">
        </div>
        <div id="flex-col" class="col">
          <blockquote class="blockquote">
            <p id="driver-register" class="mb-0">Want to become a driver?</p>
            <footer id="register-footer" class="blockquote-footer">Register today!</footer>
            <a id="driver-registration-button" class="btn btn-outline-warning" href="/register_driver" target="_blank">Register</a>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- end of register--->

    <!-- start of register restaurant --->
    <div class="container-fluid border text-center">
      <div class="row d-flex align-items-center">
        <div id="flex-col" class="col">
          <blockquote class="blockquote">
            <p id="owner-register" class="mb-0">Restaurant owner?</p>
            <footer id="owner-footer" class="blockquote-footer">Register your restaurant today!</footer>
            <a id="register-restaurant-button" class="btn btn-outline-warning" href="/register_restaurant" target="_blank">Register</a>
          </blockquote>
        </div>
        <div id="flex-col" class="col">
          <img class="shadow p-3 mb-5 bg-white rounded"
            src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY=">
        </div>
      </div>
    </div>
    <!--- end of register restaurant --->
  </div>
</div>
