<!--- start of form login --->
<div class="container" style="margin-top:2rem;">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row justify-content-md-center">
      <h2>Login</h2>
    </div>

    <form id="login-form" class="justify-content-md-center" method="POST" action="/users/login"
      enctype="application/x-www-form-urlencoded">
      <div class="form-group">
        <label for="user-role">User Role:</label>
        <select id="role" required name="role">
          <option value=""></option>
          <option value="SFSU user">SFSU user</option>
          <option value="Delivery driver">Delivery driver</option>
        </select>
      </div>


      <div class="form-group">
        <label for="login-username">Username</label>
        <input type="text" class="form-control" placeholder="Username" required name="username">
      </div>

      <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" class="form-control" placeholder="Password" required name="password">
      </div>
  </div>

  <div class="d-flex justify-content-center" style="margin-bottom:2rem">
    <div class="col col-md-4">
      <a href="/reset_password" target="_blank">
        <p>Forgot password?</p>
      </a>
      <p>Don't have an account?
      <ul>
        <li><a href="/register" target="_blank">Register here for SFSU users!</a></li>
        <li><a href="/register_driver" target="_blank">Register here for delivery drivers!</a></li>
        <li><a href="/register_restaurant" target="_blank">Restaurant Owners? Register here!</a></li>
      </ul>
      </p>
    </div>
    <div class="row align-items-center" style="margin:1rem">
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
  </div>
  </form>
</div>