<div class="container" style="margin-top:2rem;">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row justify-content-md-center">
            <h2>Uploading Menu Items</h2>
        </div>

        <form id="form" action="/posts/menu_upload" method="POST" class="col justify-content-md-center needs-validation"
            novalidate>
            <div class="form-group">
                <p>Upload image of the dish*</p>
                <div class="custom-file mb-4" style="margin-bottom:2rem">
                    <label for="item_upload" class="custom-file-label">Choose file...</label>
                    <input placeholder="Choose file..." class="custom-file-input" type="file" name="item_upload"
                        accept="image/*" required>
                    <div class="invalid-feedback">
                        Please provide an image of the menu item.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="dish_name" class="form-label">Name of dish*</label>
                <input placeholder="Name of dish" class="form-control" type="text" name="dish_name" required pattern="">
                <div class="invalid-feedback">
                    Please add the name of your dish.
                </div>
            </div>

            <div class="form-group">
                <label for="dish_category">Category of dish:</label>
                <select id="dish_category" required name="dish_category">
                    <option value=""></option>
                    <option value="American">American</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Asian">Asian</option>
                    <option value="Italian">Italian</option>
                </select>
            </div>

            <div class="form-group">
                <label for="dish_price" class="form-label">Price of dish*</label>
                <input placeholder="Price of dish" class="form-control" type="text" name="dish_price" required
                    pattern="">
                <div class="invalid-feedback">
                    Please add the price of your dish.
                </div>
            </div>

            <div class="form-group">
                <label for="dish_description" class="form-label">Describe your dish*</label><br>
                <textarea placeholder="Description of dish..." required name="dish_description" rows="4"
                    cols="50"></textarea>
            </div>

            <div class="d-flex justify-content-center" style="margin-bottom:2rem">
                <div class="button_container">
                    <button type="reset" class="btn btn-outline-dark">Cancel</button>
                    <button type="submit" class="btn btn-outline-dark">Add Next Item</button>
                </div>
            </div>
        </form>
    </div>
</div>