<div class="container" style="margin-top:2rem;">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row justify-content-md-center">
            <h1>Orders</h1>
        </div>

        <!-- start of pending-->
        <h5>Pending</h5>
        <div class="row justify-content-md-center" style="margin-bottom:3rem">
            <!-- start of left column --->
            <div class="col-lg-4">

                <!-- start of item 1-->
                <div class="row border" style="padding:1rem;margin:0.5rem;">
                    <div class="col-lg-8 card-body">
                        <p class="card-title">Name:</p>
                        <p class="card=text">Address:</p>
                        <p class="card=text">status:</p>
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <button type="button" class="btn btn-outline-dark" href="....">Accept</button>
                    </div>
                </div>
                <!-- end of item 1-->

            </div>
            <!-- end of left column --->

            <!-- start of middle column --->
            <div class="col-lg-4">

                <!-- start of item 1-->
                <div class="row border" style="padding:1rem;margin:0.5rem;">
                    <div class="col-lg-8 card-body">
                        <p class="card-title">Name:</p>
                        <p class="card=text">Address:</p>
                        <p class="card=text">status:</p>
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <button type="button" class="btn btn-outline-dark" href="....">Accept</button>
                    </div>
                </div>
                <!-- end of item 1-->

            </div>
            <!-- end of middle column --->

            <!-- start of right column --->
            <div class="col-lg-4">

                <!-- start of item 1-->
                <div class="row border" style="padding:1rem;margin:0.5rem;">
                    <div class="col-lg-8 card-body">
                        <p class="card-title">Name:</p>
                        <p class="card=text">Address:</p>
                        <p class="card=text">status:</p>
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <button type="button" class="btn btn-outline-dark" href="....">Accept</button>
                    </div>
                </div>
                <!-- end of item 1-->

            </div>
            <!-- end of right column --->
        </div>
        <!-- start of pending-->

        <!-- start of approved-->
        <h5>Approved</h5>
        <div class="row justify-content-md-center" style="margin-bottom:3rem">

            <!-- start of left column --->
            <div class="col-lg-4">

                <!-- start of item 1-->
                <div class="row border" style="padding:1rem;margin:0.5rem;">
                    <div class="col-lg-8 card-body">
                        <p class="card-title">Name:</p>
                        <p class="card=text">Address:</p>
                        <p class="card=text">status:</p>
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <button type="button" class="btn btn-outline-dark" href="....">Cancel</button>
                    </div>
                </div>
                <!-- end of item 1-->

            </div>
            <!-- end of left column --->

            <!-- start of middle column --->
            <div class="col-lg-4">

                <!-- start of item 1-->
                <div class="row border" style="padding:1rem;margin:0.5rem;">
                    <div class="col-lg-8 card-body">
                        <p class="card-title">Name:</p>
                        <p class="card=text">Address:</p>
                        <p class="card=text">status:</p>
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <button type="button" class="btn btn-outline-dark" href="....">Cancel</button>
                    </div>
                </div>
                <!-- end of item 1-->

            </div>
            <!-- end of middle column --->

            <!-- start of right column --->
            <div class="col-lg-4">

                <!-- start of item 1-->
                <div class="row border" style="padding:1rem;margin:0.5rem;">
                    <div class="col-lg-8 card-body">
                        <p class="card-title">Name:</p>
                        <p class="card=text">Address:</p>
                        <p class="card=text">status:</p>
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <button type="button" class="btn btn-outline-dark" href="....">Cancel</button>
                    </div>
                </div>
                <!-- end of item 1-->

            </div>
            <!-- end of right column --->
        </div>
        <!-- start of approved-->

        <!-- start of Canceled-->
        <h5>Canceled</h5>
        <div class="row justify-content-md-center" style="margin-bottom:3rem">

            <!-- start of left column --->
            <div class="col-lg-4">

                <!-- start of item 1-->
                <div class="row border" style="padding:1rem;margin:0.5rem;">
                    <div class="card-body">
                        <p class="card-title">Name:</p>
                        <p class="card=text">Address:</p>
                        <p class="card=text">status:</p>
                    </div>
                </div>
                <!-- end of item 1-->

            </div>
            <!-- end of left column --->

            <!-- start of middle column --->
            <div class="col-lg-4">

                <!-- start of item 1-->
                <div class="row border" style="padding:1rem;margin:0.5rem;">
                    <div class="card-body">
                        <p class="card-title">Name:</p>
                        <p class="card=text">Address:</p>
                        <p class="card=text">status:</p>
                    </div>
                </div>
                <!-- end of item 1-->

            </div>
            <!-- end of middle column --->

            <!-- start of right column --->
            <div class="col-lg-4">

                <!-- start of item 1-->
                <div class="row border" style="padding:1rem;margin:0.5rem;">
                    <div class="card-body">
                        <p class="card-title">Name:</p>
                        <p class="card=text">Address:</p>
                        <p class="card=text">status:</p>
                    </div>
                </div>
                <!-- end of item 1-->

            </div>
            <!-- end of right column --->
        </div>
        <!-- start of canceled-->
    </div>
</div>
