<form action="/posts" method="POST" enctype="multipart/form-data">
    <h3>Upload Image</h3>
    <input type="file" name="image" accept="image/*">
    <input type="text" name="restaurant_name" value="{{restaurant_name}}">
    <input type="submit" value="Upload" class="btn btn-primary">
</form>