<!--start of Name and cart-->
<div class="row justify-content-around" style="margin-top:1rem; margin-bottom:1rem">

    <!-- start of Restaurant content-->
    <div class="col-5">
        <h5>Name of Restaurant</h5>
        <h5>description</h5>
    </div>
    <!-- end of Restaurant content-->

    <!-- start of cart icon--->
    <div class="col-5 ">
        <h2 class="text-right">
            <!--<button type="button" class="btn btn-outline-dark" href="....">
                <i class="bi bi-cart3"></i></button>-->
                <button id="checkout-button" type="submit" class="btn btn-outline-dark">Proceed To Checkout</button>     
        </h2>
    </div>
    <!---end of cart icon -->


</div>
<!---end of Name and cart--->

<!--start of restaurant menu---->
<div class="row justify-content-md-center" style="margin-bottom:3rem">

    <!-- start of left column --->
    <div class="col col-lg-4">

    <div class="row border" style="padding:1rem;margin:0.5rem">
       <!-- start of card template --->
          <div class="card col-lg-5 " style="width: 18rem;">
            <img class="card-img-top" src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY=">
            <div class="card-body">
              <h5 class="card-title">Name of Plate</h5>
              <p class="card-text">Description of dish</p>
              <p class="card-text">Price</p>
              <a href="#" class="btn btn-primary">Add</a>
            </div>
          </div>
       <!-- end of card template--->
    </div>



  <!--
    <div class="row border" style="padding:1rem;margin:0.5rem">
      <div class="col-lg-5">
        <img src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
             class="card-img-top">
      </div>
      <div class="col-md-4 card-body">
        <p class="card-title">Name of Plate:</p>
        <p class="card=text">Description fo food:</p>
        <p class="card=text">Price</p>
      </div>
      <div class="col-md-3 align-self-center">
        <button class="btn btn-outline-dark" href="....">Add</button>
      </div>
    </div>



    <div class="row border" style="padding:1rem;margin:0.5rem">
      <div class="col-lg-5">
        <img src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
             class="card-img-top">
      </div>
      <div class="col-md-4 card-body">
        <p class="card-title">Name of Plate:</p>
        <p class="card=text">Description fo food:</p>
        <p class="card=text">Price</p>
      </div>
      <div class="col-md-3 align-self-center">
        <button class="btn btn-outline-dark" href="....">Add</button>
      </div>
    </div>



    <div class="row border" style="padding:1rem;margin:0.5rem">
      <div class="col-lg-5">
        <img src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
             class="card-img-top">
      </div>
      <div class="col-md-4 card-body">
        <p class="card-title">Name of Plate:</p>
        <p class="card=text">Description fo food:</p>
        <p class="card=text">Price</p>
      </div>
      <div class="col-md-3 align-self-center">
        <button class="btn btn-outline-dark" href="....">Add</button>
      </div>
    </div>



    <div class="row border" style="padding:1rem;margin:0.5rem">
      <div class="col-lg-5">
        <img src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
             class="card-img-top">
      </div>
      <div class="col-md-4 card-body">
        <p class="card-title">Name of Plate:</p>
        <p class="card=text">Description fo food:</p>
        <p class="card=text">Price</p>
      </div>
      <div class="col-md-3 align-self-center">
        <button class="btn btn-outline-dark" href="....">Add</button>
      </div>
    </div>
    -->


  </div>
  <!-- end of left column --->

  <!-- start of right column --->
  <!--
  <div class="col col-lg-4">



    <div class="row border" style="padding:1rem;margin:0.5rem">
      <div class="col-lg-5">
        <img src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
             class="card-img-top">
      </div>
      <div class="col-md-4 card-body">
        <p class="card-title">Name of Plate:</p>
        <p class="card=text">Description fo food:</p>
        <p class="card=text">Price</p>
      </div>
      <div class="col-md-3 align-self-center">
        <button class="btn btn-outline-dark" href="....">Add</button>
      </div>
    </div>



    <div class="row border" style="padding:1rem;margin:0.5rem">
      <div class="col-lg-5">
        <img src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
             class="card-img-top">
      </div>
      <div class="col-md-4 card-body">
        <p class="card-title">Name of Plate:</p>
        <p class="card=text">Description fo food:</p>
        <p class="card=text">Price</p>
      </div>
      <div class="col-md-3 align-self-center">
        <button class="btn btn-outline-dark" href="....">Add</button>
      </div>
    </div>



    <div class="row border" style="padding:1rem;margin:0.5rem">
      <div class="col-lg-5">
        <img src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
             class="card-img-top">
      </div>
      <div class="col-md-4 card-body">
        <p class="card-title">Name of Plate:</p>
        <p class="card=text">Description fo food:</p>
        <p class="card=text">Price</p>
      </div>
      <div class="col-md-3 align-self-center">
        <button class="btn btn-outline-dark" href="....">Add</button>
      </div>
    </div>



    <div class="row border" style="padding:1rem;margin:0.5rem">
      <div class="col-lg-5">
        <img src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
             class="card-img-top">
      </div>
      <div class="col-md-4 card-body">
        <p class="card-title">Name of Plate:</p>
        <p class="card=text">Description fo food:</p>
        <p class="card=text">Price</p>
      </div>
      <div class="col-md-3 align-self-center">
        <button class="btn btn-outline-dark" href="....">Add</button>
      </div>
    </div>


    </div>
    -->
       <!-- <button id="checkout-button" type="submit" class="btn btn-outline-dark">Proceed To
            Checkout</button>-->
    <!-- end of left column --->
</div>
<!-- end of restaurant menu-->
