<h2>Software Engineering class SFSU</h2>
<h2>Spring, 2023</h2>
<h2>Section 03</h2>
<h2>Team 05</h2>
<p>Team Members</p>
<ul>
    <li><a href="member1.html">Maliah</a></li>
    <li><a href="member2.html">Mario</a></li>
    <li><a href="member3.html">Scott</a></li>
    <li><a href="member4.html">Aneida</a></li>
    <li><a href="member5.html">Hajime</a></li>
</ul>