<div id="team-info">
    <h2>Team Member: Aneida</h2>
</div>

<div id="big-box">
    <div class="box">
        <p onclick=window.location.href="homePage2.html">
            Blanco1220
        </p>
        <p>I’m currently a student at SFSU. I consider my self to have good listening skills. I am a polite person that
            likes to help others learn. I am an organized person and like to plan ahead. I currently work within family
            business as a handymen. There I have learned new skills such as to think of creative ways to solve a
            problem. As well as to work efficiently with others to get a task done. I have also learned to work
            unsupervised.
        </p>
    </div>
    <div class="box">
        <div class="picture">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSipi9OyTFtAgx7dZRpaLGMm1mkHfrj0c3xkg&usqp=CAU">
        </div>
    </div>
</div>