<div id="team-info">
    <h2>Team Member: Scott</h2>
</div>

<div id="big-box">
    <div class="box">
        <p onclick=window.location.href="homePage2.html">
            github: Saiber70
        </p>
        <p>about me: I'm a senior CS student majoring in Computer
            Science as well as minoring in Video Game Studies. Some
            of my interests include building computers, playing video
            games, watching anime, traveling and eating.
        </p>
    </div>
    <div class="box">
        <div class="picture">
            <!--<img src=" " alt="img" >-->
        </div>
    </div>
</div>