<div id="team-info">
    <h2>Team Member: Maliah</h2>
</div>
<div id="big-box">
    <div class="box">
        <p onclick=window.location.href="homePage2.html">
            github: maliahc
        </p>
        <p>about me: I was born and raised in San Francisco. I study
            computer science. I am very passionate about travelling, yoga,
            cooking and writing. One thing I have on my bucket list is to
            bungee jump into a canyon.
        </p>
    </div>
    <div class="box">
        <div class="picture">
            <img src="https://fakeimg.pl/300x150/ffffff/">
        </div>
    </div>
</div>